@import "./GLOBALS.scss";

.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 15rem;
  /* border-radius: 1rem; */
  transition-duration: 0.5s;
  background: round;
  box-shadow: 1px 6px 9px rgba($black, .55);
}

.card-container:hover {
  box-shadow: none;
  // transform: scale(1.05);

  .overlay {
    height: 100%;
    width: 100%;
    display: flex;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba($black, .55);
    transition-duration: 0.5s;
  }
}

.card-image {
  height: 100%;
  width: 100%;
}

.project-name {
  text-align: center;
  color: #fff;
  letter-spacing: 0.4rem;
  margin-top: 5rem;
  text-shadow: 1px 1px #2f2f2f;
  border-bottom: 1px solid #fff;
  width: 80%;
  padding-bottom: 0.3rem;
  margin-right: auto;
  margin-left: auto;
}

.project-blurb {
  text-align: center;
  color: #fff;
  margin-top: 1rem;
  text-shadow: 1px 1px #2f2f2f;
}

.card-button-container {
  position: absolute;
  height: 5rem;
  background-image: linear-gradient(to bottom, #ffff, #e6e6e6);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  bottom: 0px;
}
