@import "./GLOBALS.scss";

.contact-container {
  @include container;
  margin: 0 auto;
  padding: 2rem 1rem;
  max-width: 900px;
}

.contact-header {
  text-align: center;
}

.contact-form-container {
  margin-left: auto;
  margin-right: auto;
}

.contact-blurb {
  text-align: center;
}

.contact-input {
  border: 1px solid $black;
  height: 2.3rem;
  margin: 1rem 0 3rem;
  padding: .5rem;
  font-family: "Roboto";
}

.contact-input::placeholder {
  font-family: "Roboto";
}

.contact-input:focus {
  box-shadow: 0px 0px 6px $yellow;
  border: 2px solid $yellow;
}


.invalid-email {
  box-shadow: 0px 0px 6px rgb(241, 137, 137);
  border: 2px solid rgb(241, 137, 137);
}

.valid-email {
  box-shadow: 0px 0px 6px rgb(137, 241, 137);
  border: 2px solid rgb(137, 241, 137);
}

.contact-message {
  height: 15rem;
  margin-bottom: 1rem;
}

.socials {
  margin: 0 auto 0 auto;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
  padding: 2rem 1rem;
}

.social-icon,
.btn-submit {
  cursor: pointer;
  transition-duration: 0.3s;
}

.social-icon:hover,
.btn-submit:hover {
  transform: translateY(-3px);
}

.social-icon:active,
.btn-submit:active {
  transform: translateY(3px);
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.btn-submit {
  margin-left: auto;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  border: 1px solid $black;
  margin-top: 1rem;
  color: $black;
  font-family: "Montserrat";
  text-transform: uppercase;
  background: #fff;
}

.btn-disabled {
  margin-left: auto;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  border: 1px solid rgba($black, .35);
  ;
  margin-top: 1rem;
  color: rgba($black, .35);
  font-family: "Montserrat";
  text-transform: uppercase;
  background: #fff;
}

.btn-submit:hover {
  background: $red;
  color: #fff;
  border-color: #fff;
}

.btn-submit:focus {
  outline: 0;
}

/* Socials */
.github {
  color: rgba(36, 41, 46, 0.5);
}

.github:hover {
  color: rgba(36, 41, 46, 1);
}

.linked-in {
  color: rgba(0, 116, 178, 0.5);
}

.linked-in:hover {
  color: rgba(0, 116, 178, 1);
}

.dribbble {
  color: rgba(195, 35, 97, .5);
}

.dribbble:hover {
  color: rgba(195, 35, 97, 1);
}

.codepen {
  color: rgba(0, 0, 0, .5);
}

.codepen:hover {
  color: black;
}

.pdf {
  color: rgba(238, 97, 97, 0.5);
}

.pdf:hover {
  color: rgba(238, 97, 97, 1);
}

@media (max-width: 1000px) {
  .dribbble {
    color: rgba(195, 35, 97, 1);
  }

  .codepen {
    color: black;
  }

  .linked-in {
    color: rgba(0, 116, 178, 1);
  }

  .github {
    color: rgba(36, 41, 46, 1);
  }

  .pdf {
    color: rgba(238, 97, 97, 1);
  }

  .social-icon:active {
    transform: translateY(3px);
  }
}