header {
  height: 72vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(137, 177, 241, 0.85),
      rgba(28, 64, 122, 0.85)
    ),
    url("../images/hero.png");
  background-size: cover;
  color: #fff;
  text-shadow: 0 5px 20px rgba(0, 0, 0, 0.479);
}

.header-container {
  text-align: center;
  padding-top: 10rem;
}

.header-main {
  letter-spacing: 10px;
  font-weight: 100;
  text-transform: uppercase;
  animation: moveInRight 1s ease-out;
  font-size: 4rem;
}

.header-sub {
  letter-spacing: 5px;
  font-weight: 100;
  text-transform: uppercase;
  animation: moveInRight 1s ease-out;
  width: 100%;
  font-size: 1.5rem;
}

@media (max-width: 580px) {
  .header-main {
    font-size: 3rem;
  }
  .header-sub {
    font-size: 1.25rem;
  }
}

@media (max-width: 415px) {
  .header-main {
    font-size: 2rem;
  }
  .header-sub {
    font-size: .85rem;
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
