@import "./GLOBALS.scss";

header {
  @include text-shadow;
  position: relative;
  height: 72vh;
  background-image: linear-gradient(
      to bottom right,
      rgba($gray, .85),
      rgba($black, .85)
    ),
    url("../images/hero.png");
  background-size: cover;
  color: #fff;
  border-bottom: .2rem solid $black;
}

.header-container {
  text-align: center;
  width: 100%;
  z-index: 100;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-main {
  letter-spacing: 10px;
  font-weight: 100;
  text-transform: uppercase;
  animation: moveInRight 1s ease-out;
  font-size: 4rem;
}

.header-sub {
  letter-spacing: 5px;
  font-weight: 100;
  text-transform: uppercase;
  animation: moveInRight 1s ease-out;
  width: 100%;
  font-size: 1.5rem;
}

.svg {
  height: 500px;
  width: 500px;
}

.svg path {
  fill: rgba($red, .25);
}

.path-to-trace {
  stroke: rgba($yellow, .25);
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s linear alternate infinite;
}

/* Media Queries */

@media (max-width: 580px) {
  .header-main {
    font-size: 3rem;
  }
  .header-sub {
    font-size: 1.25rem;
  }
}

@media (max-width: 500px) {
  .svg {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 415px) {
  .header-main {
    font-size: 2rem;
  }
  .header-sub {
    font-size: .85rem;
  }
}

/* Animations */

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
