header {
  position: relative;
  height: 92vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(137, 177, 241, 0.85),
      rgba(28, 64, 122, 0.85)
    ),
    url("../images/hero.png");
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  color: #fff;
  text-shadow: 0 5px 20px #01003a;
}

.header-container {
  text-align: center;
  padding-top: 25%;
  width: 100%;
}

.header-main {
  letter-spacing: 10px;
  font-weight: 100;
  text-transform: uppercase;
  animation: moveInRight 1s ease-out;
  font-size: 4rem;
}

.header-sub {
  letter-spacing: 5px;
  font-weight: 100;
  text-transform: uppercase;
  animation: moveInRight 1s ease-out;
  width: 100%;
  font-size: 1.5rem;
}

@media (max-width: 900px) {
  .header-container {
    padding-top: 30%;
  }
}

@media (max-width: 650px) {
  header {
    height: 82vh;
    clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
  }
  .header-container {
    padding-top: 40%;
  }
  .header-main {
    font-size: 3rem;
  }
}

@media (max-width: 590px) {
  .header-container {
    padding-top: 47%;
  }
  .header-main {
    font-size: 2.5rem;
  }
}

@media (max-width: 490px) {
  .header-container {
    padding-top: 60%;
  }
  .header-main {
    font-size: 2rem;
  }
  .header-sub {
    font-size: 1rem;
  }
}

@media (max-width: 340px) {
  .header-main {
    font-size: 1.5rem;
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
