@import "./GLOBALS.scss";

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 5%;
  z-index: 1000;
  background: $black;
}

.nav-content {
  @include container;
  margin: 0 auto;
  display: flex;
}

.logo {
  height: 3.5rem;
  width: 3.5rem;
  cursor: pointer;
}

.links-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  width: 75%;
  list-style: none;
  margin: 0 0 0 25%;
  cursor: pointer;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  /* border: 1px solid #fff */
}

.link:hover {
  background: $yellow;
  // text-shadow: 
}

.link p {
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat";
  letter-spacing: .2rem;
  text-shadow: 0 5px 20px rgba(0, 0, 0, 0.479);
  margin: 0 2rem;
}

.link p:hover {
  color: #fff;
}

@media (max-width: 1100px) {}