.projects-container {
  background-color: rgba(137, 177, 241);
  clip-path: polygon(0 15vh, 100% 0, 100% 85%, 0 100%);
  padding-top: 10rem;
  padding-bottom: 12rem;
}
.projects-headline {
  /* color: #fff; */
  text-align: center;
}
.projects-grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

/* media queries */

@media (max-width: 965px) and (min-width: 850px) {
  .projects-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

@media (max-width: 900px) {
  .projects-container {
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
  }
  .projects-container {
    padding-top: 9rem;
    padding-bottom: 7rem;
  }
}

@media (max-width: 450px) {
  .projects-container {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  .projects-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
