@import "./GLOBALS.scss";

.projects-container {
  background-image: linear-gradient(to bottom right,
      rgba($gray, .35),
      rgba($black, .35)),
    url("../images/prism.svg");
  padding-bottom: 4rem;
  border-top: .3rem solid $black;
  border-bottom: .3rem solid $black;
}

.projects-headline {
  @include text-shadow;
  padding-top: 3rem;
  text-align: center;
  color: #fff;
  font-family: "Montserrat";
}

.projects-grid-container {
  display: grid;
  justify-content: center;
  @include container;
  margin: 0 auto;
  padding: 0 3rem;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.3rem;
  grid-row-gap: 1.3rem;
}

/* media queries */

@media (max-width: 800px) {
  .projects-grid-container {
    grid-template-columns: 1fr;
  }
}