.projects-container {
  background-color: rgba(137, 177, 241);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
}

.projects-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.projects-grid-cell {
  min-height: 200px;
  height: 100%;
}
